* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
[data-scroll] {
  transition: all 2s;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px);
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, green 50%, white 50%);
}
.container .back_home {
  padding: 20px;
  background-color: green;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 10px;
  border: none;
}
.container ul li {
  display: inline-block;
  padding: 0 10px;
}
.container ul li a {
  text-decoration: none;
  color: white;
}

.container .back_home i {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.inner_container {
  width: 95%;
  height: 90%;
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 30px;
}
.inner_container h1 {
  color: white;
  font-size: 3rem;
}
.inner_container .box_wrapper {
  display: flex;
  width: 100%;
  height: 90%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  margin-top: 30px;
  gap: 20px;
}
.inner_container .box_wrapper .box {
  width: 20%;
  height: 100%;
  background-color: rgb(224, 221, 221);
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  /* gap: 20px; */
  border-radius: 20px;
  overflow: hidden;
  color: rgb(70, 67, 67);
  /* position: relative; */
  /* padding: 60px; */
}

.inner_container .box_wrapper .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@media screen and (max-width: 414px) {
  .container {
    overflow: hidden;
    /* width: 100%; */
    height: 190vh;
    background-image: linear-gradient(to right, green 60%, white 50%);
  }
  [data-scroll] {
    transition: all 2s;
  }
  [data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
  }
  [data-scroll="out"] {
    opacity: 0;
    transform: translateX(-200px);
  }

  .inner_container {
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .inner_container .box_wrapper {
    flex-wrap: wrap;
  }
  .inner_container .box_wrapper .box {
    width: 80%;
    height: 20%;
    font-size: 0.8em;
    padding: 25px 20px;
    gap: 10px;
    /* flex-wrap: wrap-reverse; */
  }
  .inner_container .box_wrapper .box img {
    width: 70px;
    height: 70px;
    /* shape-outside: circle(); */
    /* margin: 30px 30px 30px 0; */
  }
}
