* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* [data-scroll] {
  transition: all 2s;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px);
} */
.container {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(35, 116, 15, 0.4)),
      url(image/african-american-man-remote-working-from-home.jpg)
  /* background-image: linear-gradient(to bottom, green 50%, white 50%); */
}
.container .back_home {
  padding: 20px;
  background-color: green;
  position: fixed;
  top: 5px;
  right: 10px;
  border-radius: 10px;
  border: none;
}
.container ul li {
  display: inline-block;
  padding: 0 10px;
}
.container ul li a {
  text-decoration: none;
  color: white;
}

.container .back_home i {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.inner_container {
  width: 95%;
  height: 90%;
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 30px;
  /* overflow-x: auto; */
}
.inner_container h1 {
  color: white;
  font-size: 3rem;
}

.carousel{
    margin: 100px auto;
    width: 195%;
    /* border: 5px solid red; */
    display: flex;
    overflow-x: auto;

}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 40s infinite linear;
    padding-right: 1em;
       /* border-left: 22px solid green; */
}
.card{
    flex: 0 0 5em;
    height: 5em;
    /* padding: 1em; */
    padding: 10px 20px;
    background: whitesmoke;
    font-size: 3rem;
    border-radius: .5em;
    text-align: center;
    align-content:center ;
       border-left: 4px solid green;
 
}
.card h2{
  font-size: 12px;
  text-align: left;
  color: grey;

  text-transform: capitalize;
}
@keyframes spin {
    from{translate: 0}
    to{translate: -100%;}
}
/* .inner_container .group {
  display: flex;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
 overflow-x: scroll;
}
.inner_container .group .card {
  width: 80%;
  height: 90%;
  background-color: rgb(224, 221, 221);
  padding: 20px 20px;
  border-radius: 20px;
  overflow: hidden;
  color: rgb(70, 67, 67);

} */
.inner_container .group .card p {
  font-size: 11px;
  margin-top: 5px;
}

.inner_container .group .card .profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url(image/silver.jpg);
  background-position: center;
  background-size: cover;
  float: left;
  shape-outside: circle();
  margin: 10px 10px 10px 0;
}
.inner_container .group .card #image1 {
  background: url(image/user.JPG);
  background-position: center;
  background-size: cover;
}
.inner_container .group .card #image2 {
  background: url(image/ayomide.jpg);
  background-position: center;
  background-size: cover;
}
.inner_container .group .card #image3 {
  background: url(image/ade.jpg);
  background-position: center;
  background-size: cover;
}
.inner_container .group .card #image4 {
  background: url(image/business-man-banner-concept-with-copy-space.jpg);
  background-position: center;
  background-size: cover;
}
.inner_container .group .card #image5 {
  background: url(image/girl2.jpg);
  background-position: center;
  background-size: cover;
}
.inner_container .group .card #image6 {
  background: url(image/cheerful-african-american-woman-sitting-with-earphones-read-magazine-near-washing-machine-selfservice-laundry.jpg);
  background-position: center;
  background-size: cover;
}
.inner_container .group .card #image7 {
  background: url(image/girl1.jpg);
  background-position: center;
  background-size: cover;
}


